@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Общие стили для кабинета*/

:root {
    --blue-100: #0085FF;
    --blue: #67acfd;
    --black: #000000;
    --light-green: #9cdfd3;
    --darked-green: #075055;
    --darked-green--100: #09676e;
    --white: #ffffff;
    --darked-green-blue: #075055;
    --light-blue: #83a8aa;
    --yellow: #FEC608;
    --light-yellow: rgba(255, 238, 151, 0.72);
    --mint: #C9E4DF;
    --mint-100: #CAE3DF;
    --light-grey: #EAEDF1;
    --grey--100: #DEDEDE;
    --lightnest-grey: #dddddd;
    --grey--200: #939393;
    --grey--300: #A1A1A1;
    --light-red: #FF7D7DB8;
    --light-green-100: rgba(180, 255, 183, 0.72)
}

a {
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", serif;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.submenu {
    display: flex;
    margin: 30px 0;
}

.dropdown-item:hover .dropdown-body {
    display: block;
    position: absolute;
    top: 100%;
    z-index: 1;
    background: var(--light-grey);
    width: 100%;
    border-radius: 0 0 6px 6px;
    padding: 0 0 15px 0;
}

.dropdown-item:hover .dropdown-body.close {
    display: none;
}

.dropdown-item:hover {
    border-radius: 6px 6px 0 0;
}

.dropdown-item {
    cursor: pointer;
    position: relative;
    background: var(--light-grey);
    border-radius: 6px;
    height: 30px;
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    margin-right: 30px;
}


.dropdown-item.green {
    background: var(--darked-green);
    color: var(--white)
}

.dropdown-arrow {
    width: 19px;
    height: 14px;
    background: url("../../pracrice_summer23/assets/img/arrow.svg") no-repeat;
}

.dropdown-arrow-white {
    background: url("../../pracrice_summer23/assets/img/dropdown-arrow-white.svg");
}

.dropdown-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-header span {
    font-weight: 600;
    font-size: 12px !important;
    line-height: 12px;
    display: flex;
    align-items: center;
}

.dropdown-header span svg {
    margin-right: 5px;
}

.dropdown-icon-response {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

.dropdown-icon-response-cross {
    width: 12px;
    height: 12px;
    margin-right: 10px;
}

.dropdown-item:hover .dropdown-body.dropdown-body-status-response {
    padding-bottom: 0;
}

.dropdown-body-status-response a:last-child .dropdown-body-item {
    border-radius: 0 0 6px 6px;
}

.dropdown-body-item:hover {
    filter: brightness(95%);
}

.dropdown-body {
    display: none;
}

.dropdown-body-green {
    background: var(--darked-green) !important;
}

.dropdown-body-item {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 35px;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: var(--black);
    transition: all .1s ease;
}

.dropdown-body-item-white {
    color: var(--white);
}

.dropdown-body-item-white:hover {
    background: var(--darked-green--100) !important;
}

.dropdown-body-item:hover {
    background-color: var(--darked-green);
    color: var(--white);
}

.card-container {
    border-radius: 12px;
    box-shadow: 0 0 13px rgba(91, 144, 96, 0.3);;
}

.cabinet {
    display: flex;
    flex-direction: row;
}

.menu-cabinet {
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 330px;
    padding: 10px;
}

.menu-cabinet-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    height: 40px;
    margin: 0 5px;
    color: var(--black);
    border-radius: 9px;
    padding: 0 6px;
}

.menu-cabinet-item:nth-last-child(1)::after {
    border: none;
}

.menu-cabinet-item:hover, .menu-cabinet-item.active:hover {
    background-color: var(--light-green);
}

.menu-cabinet-item.active {
    background: var(--mint);
}

.cabinet-content {
    width: 100%;
    margin-left: 25px;
}

.card {
    padding: 30px;
    margin-top: 35px;
}

.card:nth-child(1) {
    margin: 0;
}

.card-header span {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--darked-green-blue)
}

.btn-cabinet {
    font-weight: 600;
    color: var(--darked-green);
    padding: 0 30px;
    height: 40px;
    background: none;
    border-radius: 8px;
    border: 1px solid var(--darked-green);
    cursor: pointer;
}

.btn-cabinet:disabled {
    color: var(--grey--300);
    border-color: var(--grey--300);
}

.btn-cabinet:disabled:hover {
    color: var(--grey--300);
    border-color: var(--grey--300);
    background: var(--white);
}

.btn-cabinet-smaller {
    font-size: 12px;
    height: 30px;
    padding: 0 35px;
}

.btn-cabinet.active {
    background-color: var(--darked-green);
    color: var(--white);
}

.btn-cabinet:hover {
    color: var(--white);
    background-color: var(--darked-green--100);
    border: 1px solid var(--darked-green--100);
}

.card-desc-content {
    display: flex;
    flex-wrap: wrap;
}

.card-desc-item {
    display: flex;
    align-items: center;
    height: 100px;
    width: 33%;
    margin-top: 50px;
}

.num-desc-item {
    font-weight: 900;
    font-size: 110px;
    color: var(--mint);
}

.desc-item-container {
    margin-left: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.desc-item-header {
    font-weight: 600;
    color: var(--darked-green);
}

.dropdown-body-item-green {
    background: var(--light-green-100) !important;
    color: var(--black) !important;
}

.dropdown-body-item-red {
    background: var(--light-red) !important;
    color: var(--black) !important;
}

.dropdown-body-item-yellow {
    background: var(--light-yellow) !important;
    color: var(--black) !important;
}



.dropdown-sort-header span {
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
}
.card-subheader .btn-cabinet {
    margin-right: 20px;
}

.dropdown-sort {
    margin: 0;
}

.btn-sort-by-criterion {
    padding: 0 20px;
    height: 38px;
    vertical-align: center;
}

.card-list-container {
    border: 1px solid var(--lightnest-grey);
    border-radius: 8px;
    padding: 10px;
    position: relative;
    margin-top: 30px;
}

.card-list-header {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.card-list-header div {
    margin-right: 15px;
}

.card-list-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.dropdown-arrow-list-response {
    transform: rotate(-90deg);
}

.dropdown-arrow-list-response.active {
    transform: rotate(0deg);
}

.dropdown-item-status-response {
    margin: 0;
    width: 190px;
}

.card-list-body {
    margin: 0 auto;
    width: 95%;
    display: none;
}

.card-list-body.active {
    display: block;
}

.set-meeting {
    background: var(--light-green-100);
    border-radius: 6px;
    margin-left: 35px;
    display: flex;
    font-size: 12px;
    height: 25px;
    padding: 0 15px;
    align-items: center;
}

.wrapper-card-list-header {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    position: relative;
}

.wrapper-card-list-header::after {
    width: 100%;
    content: "";
    position: absolute;
    bottom: -11px;
    border-bottom: 1px solid var(--lightnest-grey);
}

.modal {
    display: none;
    z-index: 10;
    position: fixed;
    background: var(--white);
    width: 800px;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    border-radius: 12px;
}

.modal.active {
    display: block;
}

.overlay.active {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: 5;
    background: rgba(154, 154, 154, 0.3);
}

.cross-modal {
    cursor: pointer;
    width: 17px;
    height: 17px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.modal-header > span {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--darked-green);
}

.modal-subheader {
    margin-bottom: 20px;
}

.modal-subheader > span {
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
}

.modal-body-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--darked-green);
    outline: none;
    position: relative;
    margin-right: 10px;
}

input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--darked-green);
}

.input-radio {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
}

.comment-area {
    outline: none;
    border-radius: 8px;
    width: 100%;
    height: 140px;
    overflow: scroll;
    overflow-x: hidden;
    resize: none;
    padding: 15px;
    border: 1px solid var(--grey--100);
    color: var(--black);
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
}

.comment-area::placeholder {
    color: var(--grey--300);
}

.comment-area::-webkit-scrollbar {
    width: 5px;
}

.comment-area::-webkit-scrollbar-thumb {
    width: 100%;
    background-color: var(--darked-green);
    border-radius: 20px;
}

.modal-bottom-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.modal-help {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: var(--blue-100);
}

.cancel-order {
    margin-right: 10px;
}

.modal-bottom-menu > button {
    font-size: 14px;
}

.modal-description {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 30px;
}
