@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Общие стили для кабинета*/

:root {
    --black: #000000;
    --light-green: #9cdfd3;
    --darked-green: #075055;
    --darked-green--100: #09676e;
    --white: #ffffff;
    --darked-green-blue: #075055;
    --light-blue: #83a8aa;
    --yellow: #FEC608;
    --mint: #C9E4DF;
    --light-grey: #EAEDF1;
}

a {
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", serif;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.submenu {
    display: flex;
    margin: 30px 0;
}

.dropdown-item {
    cursor: pointer;
    position: relative;
    background: var(--light-grey);
    border-radius: 6px;
    height: 30px;
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    margin-right: 30px;
}

.dropdown-item.active {
    border-radius: 6px 6px 0 0;
}


.dropdown-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-header span {
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
}

.dropdown-body {
    display: none;
}

.dropdown-body.active {
    display: block;
    position: absolute;
    top: 100%;
    z-index: 1;
    background: var(--light-grey);
    width: 100%;
    border-radius: 0 0 6px 6px;
    padding: 5px 0 15px 0;
}

.dropdown-body-item {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 30px;
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    color: var(--black);
    transition: all .1s ease;
}

.dropdown-body-item:hover {
    background-color: var(--darked-green);
    color: var(--white);
}

.card-container {
    border-radius: 12px;
    box-shadow: 0 0 13px rgba(91, 144, 96, 0.3);;
}

.cabinet {
    display: flex;
    flex-direction: row;
}

.menu-cabinet {
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 330px;
    padding: 10px;
}

.menu-cabinet-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    height: 40px;
    margin: 0 5px;
    color: var(--black);
    border-radius: 9px;
    padding: 0 6px;
    position: relative;
}

.menu-cabinet-item::after {
    position: absolute;
    bottom: 0;
    width: calc(100% - 12px);
    display: flex;
    content: "";
    border-bottom: 1px solid var(--mint);
}

.menu-cabinet-item:nth-last-child(1)::after {
    border: none;
}

.menu-cabinet-item:hover, .menu-cabinet-item.active:hover {
    background-color: var(--light-green);
    font-weight: 500;
}

.menu-cabinet-item.active {
    background: var(--mint);
}

.cabinet-content {
    width: 100%;
    margin-left: 25px;
}

.card {
    padding: 30px;
    margin-top: 35px;
}

.card:nth-child(1) {
    margin: 0;
}

.card-header span {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--darked-green-blue)
}

.btn-cabinet {
    font-weight: 600;
    color: var(--darked-green);
    padding: 0 30px;
    height: 40px;
    background: none;
    border-radius: 8px;
    border: 2px solid var(--darked-green);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.btn-cabinet.active {
    background-color: var(--darked-green);
    color: var(--white);
}

.btn-cabinet:hover {
    color: var(--white);
    background-color: var(--darked-green--100);
    border: 2px solid var(--darked-green--100);
}

.btn-transparent-cabinet {
    border: 2px solid var(--darked-green);
    background: none;
    color: var(--darked-green);
    padding: 8px 30px;
}

.btn-transparent-cabinet:hover {
    color: var(--white);
}

.card-desc-content {
    display: flex;
    flex-wrap: wrap;
}

.card-desc-item {
    display: flex;
    align-items: center;
    height: 100px;
    width: 33%;
    margin-top: 50px;
}

.num-desc-item {
    font-weight: 900;
    font-size: 110px;
    color: var(--mint);
}

.desc-item-container {
    margin-left: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.desc-item-header {
    font-weight: 600;
    color: var(--darked-green);
}

