.card-response-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-subheader {
    margin: 25px 0;

}

.info-response {
    display: flex;
    align-items: center;
}

.info-response > span {
    font-size: 13px;
}


.info-response > span:nth-last-child(1) {
    margin-left: 10px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px
}

.wrapper-card-list-header {
    display: flex;
    margin: 0 5px;
    justify-content: space-between;
}

.wrapper-response {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: relative;
}

.wrapper-response::after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    border-bottom: 2px dashed var(--lightnest-grey);
}

.wrapper-response:nth-last-child(1)::after {
    border: none;
}

.wrapper-info-response {
    display: flex;
}

.info-response {
    margin-right: 30px;
}

.dropdown-item-status-response {
    margin: 0;
}

.num-response {
    font-weight: 600;
    font-size: 14px;
    line-height: 12px
}

.response-header {
    display: flex;
    height: 25px;
    align-items: center;
}


.response-title {
    margin-left: 10px;
    font-weight: 600;
    line-height: 15px;
}

.content-response {
    margin-top: 5px;
    line-height: 15px;
    font-size: 14px;
}

.set-meeting {
    background: var(--light-green-100);
    border-radius: 6px;
    margin-left: 25px;
    display: flex;
    font-size: 12px;
    height: 100%;
    padding: 0 15px;
    align-items: center;
}