




.card-response-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-subheader {
    margin: 25px 0;

}

.info-response {
    display: flex;
    align-items: center;
}

.info-response > span {
    font-size: 13px;
}

.info-response-icon {
    width: 30px;
    margin-right: 15px;
    cursor: pointer;
}


.info-response > span:nth-last-child(1) {
    margin-left: 10px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px
}

.wrapper-response {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: relative;
}

.wrapper-response::after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    border-bottom: 2px dashed var(--lightnest-grey);
}

.wrapper-response:nth-last-child(1)::after {
    border: none;
}

.wrapper-info-response {
    display: flex;
}


.info-response > span {
    color: var(--black);
}

.info-response > span:first-child {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.dropdown-item-status-response {
    margin: 0;
}

.num-response {
    font-weight: 600;
    font-size: 14px;
    line-height: 12px
}

.response-header {
    display: flex;
    height: 25px;
    align-items: center;
}


.response-title {
    margin-left: 10px;
    font-weight: 600;
    line-height: 15px;
}

.content-response {
    margin-top: 5px;
    line-height: 15px;
    font-size: 14px;
}

.card-list-header > .set-meeting {
    margin-left: 5px;
}

.set-meeting {
    margin-right: 150px;
}

.card-executor-header {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-executor-header-body {
    padding: 25px 0 15px;
}

.card-executor-header-body-row {
    display: flex;
    margin: 12px 0;
    justify-content: flex-start;
    text-align: left;
}

.item-info-executor {
    text-align: left;
    width: 100px;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
}

.info-executor {
    text-align: justify;
    width: 90%;
}

.info-executor, .inner-info-executor p {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
}

.wrapper-header-response {
    display: flex;
    color: var(--black);
}

.wrapper-header-response > .info-response {
    margin-right: 30px;
}

.dropdown-sort {
    width: 250px;
}

.wrapper-return-list-response {
    display: flex;
    align-items: center;
    color: var(--grey--200);
    width: fit-content;
    margin-left: -10px;
}

.wrapper-return-list-response > span {
    color: var(--grey--200);
    margin-left: 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    white-space: nowrap;
}


.wrapper-return-list-response:hover path, .wrapper-return-list-response:hover > span {
    color: var(--darked-green);
    fill: var(--darked-green);
}

.img-return-list-response {
    display: flex;
    width: 24px;
    height: 8px;
}

.card-coop-with-executor-container {
    margin: 0;
    padding: 15px 0;
}

.card-coop-with-executor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-coop-with-executor-header > span {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--darked-green)
}

.meet-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    position: relative;
}

.meet-container:last-child::after {
    display: none;
}

.meet-container::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    border-bottom: 1px dashed var(--lightnest-grey);
}

.meet-content {
    display: flex;
    align-items: center;
}

.number-meet {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
    padding: 0 20px;
    font-family: 'Arial Black', sans-serif;
    color: var(--darked-green);
}

.meet-detail {
    margin-bottom: 10px;
    line-height: 15px;
    font-size: 14px;
}

.status-meet-container > span {
    font-size: 12px;
    color: var(--grey--300);
    font-weight: 600;
}

.order-public {
    margin-left: 15px;
    margin-right: 0;
    padding: 15px 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
}

.menu-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    height: 40px;
}

.info-publish {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.info-publish span {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
}

.card-executor-header-body-row:last-child .info-executor {
    width: 90%;
    position: relative;
}

.description-content {
    text-align: justify;
    height: 60px;
    overflow: hidden;
}

.description-content.open {
    height: auto;
}

.read-continue {
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: var(--darked-green);
    cursor: pointer;
    width: fit-content;
}

.read-continue.active {
    margin-top: 15px;
}

.hiding-block {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 49.48%);
    bottom: 0;
    width: 100%;
    height: 50%;
    position: absolute;
}

.hiding-block.hide {
    display: none;
}

.inner-info-executor {
    position: relative;
}

.container-manage {
    display: flex;
    margin-bottom: 25px;
}

.manage-menu {
    width: 23%;
    padding-right: 25px;
    border-right: 2px solid var(--darked-green);
}

.header-manage {
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    color: var(--grey--300);
    margin-bottom: 5px;
    padding: 5px 0;
}

.btn-manage {
    width: 100%;
    margin-top: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    height: 35px;
}

.upload-files {
    width: 77%;
    padding-left: 25px;
}

.warning-content {
    margin-top: 20px;
    border-radius: 6px;
    background: var(--mint-100);
    padding: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
}

.files-container {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    height: 250px;
    overflow-x: hidden;
}

.files-container-response {
    height: 220px;
}


.files-container::-webkit-scrollbar {
    width: 5px;
}

.files-container::-webkit-scrollbar-thumb {
    width: 100%;
    background-color: var(--darked-green);
    border-radius: 10px;
}

.file {
    cursor: pointer;
    margin: 15px 15px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: calc((100% - 90px) / 5);
    min-width: 130px;
    max-width: 140px;
    height: 140px;
    border: 1px solid var(--light-grey);
    border-radius: 6px;
}

.file:hover {
    border: 2px solid var(--blue);
}


.file-extend {
    width: 70px;
    height: 70px;
}

.filename {
    font-size: 10px;
    margin: 5px 10px 0 10px;
    height: 30px;
    line-height: 14px;
    overflow: scroll;
    overflow-x: hidden;
    text-align: center;
    scroll-behavior: smooth;
}

.filename::-webkit-scrollbar {
    transition-duration: 3s;
    width: 1px;
}

.btn-cabinet-smaller {
    padding: 0 25px;
}

.card-list-body-header {
    display: flex;
}

.card-list-body-header div:first-child {
    margin-right: 40px;
}

.card-list-body-header div {
    margin-right: 20px;
}

.title-date-response {
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
}

.date-response {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
}

.card-executor-item-info-executor {
    width: 150px;
}

.dropdown-item.dropdown-item-status-response-manage {
    width: 100%;
}

.status-response-container > span {
    font-weight: 600;
    font-size: 10px;
    line-height: 10px;
    color: var(--grey--300);
}

.header-content {
    display: flex;
    justify-content: flex-start;
    width: calc(100% / 3);
    text-align: center;
    margin: 0 auto 20px;

}

.header-content-two-elem {
    display: flex;
    justify-content: flex-start;
    width: calc(100% / 1.5);
    text-align: center;
    margin: 0;
}

.title-header-content {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    color: var(--grey--300);
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-body-container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
}

.slider-body {
    display: flex;
    transition: all .3s ease-out;
}

.slider-card {
    display: flex;
    flex-direction: column;
    align-items:  center;
    width: calc((100% - 100px) / 3);
    height: 270px;
    min-width: 200px;
    max-width: 220px;
    background: var(--white);
    border-radius: 6px;
    border: 1px solid var(--darked-green);
    position: relative;
    margin-right: 30px;
}

.slider-card-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: rgba(7, 80, 85, 0.5);
    backdrop-filter: blur(1px);
}

.slider-card:hover .slider-card-overlay {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.slider-card:hover .btn-enter-hall {
    display: block;
}

.slider-card-head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 6px 6px 0 0;
    background: url("../../pracrice_summer23/assets/img/room.jpg") no-repeat;
    background-size: cover;
    height: 50%;
    width: 100%;
    background-position-y: center;
}

.additionally-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.additional-info {
    font-weight: 700;
    font-size: 12px;
    line-height: 10px;
    color: var(--white);
    margin-bottom: 10px;
}

.slider-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hall-name {
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    margin-top: 5px;
    text-align: center;
}

.hall-title-feature {
    font-weight: 600;
    font-size: 12px;
    line-height: 10px;
    margin-bottom: 10px;
}

.hall-feature {
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    margin-bottom: 10px;
}

.time-reservation {
    font-size: 14px;
}

.btn-enter-hall {
    position: absolute;
    display: none;
    background: var(--white);
    color: var(--black);
    border: none;
    width: 75%;
    bottom: 20%;
}

.slider-arrow {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.slider-arrow-left {
    transform: rotate(90deg);
}

.slider-arrow-right {
    transform: rotate(-90deg);
}

.slider-arrow-right:hover .slider-body {
    transform: translate(245px);
}

.return-rooms, .return-tables {
    cursor: pointer;
    width: 100%;
    margin: 0;
}

.spreadsheet-tables {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn-table {
    width: calc(100% / 5);
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    padding: 0 15px;
    max-width: 130px;
    min-width: 120px;
    margin-top: 15px;
}

.timeline {
    width: 100%;
    height: 25px;
    border-radius: 6px;
    background: url("../../pracrice_summer23/assets/img/line.svg") var(--red-100);
    background-position: center;
    background-repeat: repeat-x;
    position: relative;
}

.timeline-section {
    position: absolute;
    width: calc(100% / 16);
    height: 100%;

}

.timeline-section-yellow {
    border-radius: 0;
    left: calc(100% / 16);
    height: 25px;
    background: url("../../pracrice_summer23/assets/img/line.svg") var(--light-yellow);
    background-position: center;
    background-repeat: repeat-x;
}

.interval {
    position: relative;
    height: 20px;
    margin-top: 70px;
    margin-bottom: 45px;
    display: flex;
    align-items: center;
}

.interval-stripes-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.interval-stripe {
    position: absolute;
    height: 100%;
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.interval-stripe-red {
    background: var(--light-red) !important;
    width: 100%;
    z-index: 2;
}

.interval-stripe-green {
    background: var(--light-green-100) !important;
    z-index: 3;
}

.interval-stripe-yellow {
    background: var(--light-yellow) !important;
    z-index: 4;
}

.interval-stroke {
    position: absolute;
    height: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
    z-index: 5;
    overflow: hidden;
}

.interval-stroke div {
    position: relative;
    height: 250%;
    width: 10px;
    background-color: var(--white);
    transform: rotateZ(45deg) translateY(-33%);
}

.interval-tip {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 6;
    height: 32px;
    width: 5px;
    background-color: var(--darked-green);
}

.interval-tip::after {
    content: attr(data-content);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    bottom: -16px;
}

.interval-tooltip {
    position: absolute;
    display: flex;
    justify-content: center;
    top: -55px;
    background-color: var(--grey--50);
    padding: 3px 5px;
    border-radius: 10px;
}

.interval-tooltip-text {
    width: 120px;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
}

.interval-tooltip-bottom {
    position: absolute;
    background-color: var(--grey--50);
    bottom: -10px;
    width: 20px;
    height: 20px;
    z-index: -1;
}

.interval-tooltip-bottom::after {
    content: '';
    position: absolute;
    background-color: var(--white);
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: -50%;
    bottom: -50%;
}

.interval-tooltip-bottom::before {
    content: '';
    position: absolute;
    background-color: var(--white);
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: -50%;
    bottom: -50%;
}

.interval-modal-bottom-wrapper {
    display: flex;
    gap: 95px;
}

.interval-legend {
    min-width: 250px;
    width: 250px;
    margin-top: 25px;
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.interval-legend-item {
    display: flex;
    gap: 12px;
}

.interval-legend-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
} 

.legend-interval {
    width: 24px;
    height: 15px;
    margin: 0;
}

.legend-interval .interval-stripe {
    width: 100%;
}

.legend-interval .interval-stroke {
    left: -10px;
    height: 15px;
    gap: 10px;
    width: 200%;
}

.legend-interval .interval-stroke div {
    width: 5px;
}

.interval-changer-wrapper {
    display: flex;
    flex-direction: column;
}

.interval-changer-subheader {
    margin-top: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
}

.interval-changer-inputs {
    margin-top: 36px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.interval-changer-inputs-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
 
.interval-changer-input {
    width: 85px;
    height: 30px;
    text-align: center;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 8px;
}

.interval-changer-input:not(:last-of-type) {
    margin-right: 10px;
}

.interval-changer-input:focus::placeholder {
    color: transparent;
}